<div class="container">
<div class="card-body">
   <div class="row">
        <div class="col-8">
            <div id="accordion">
                <div class="card" *ngFor="let day of weekDays; let i=index">
                    <div class="card-header" [id]="day">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#day'+i" aria-expanded="true"
                            aria-controls="day"><strong>{{day.tile}}</strong>
                            </button>
                        </h5>
                    </div>

                    <div [id]="'day'+i" class="collapse" [ngClass]="{show: day.is_show}" aria-labelledby="day" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-6 offset-md-10">
                                    <div class="checkbox">
                                        <label>
                                            <button type="submit" class="btn btn-sm btn-primary" (click)="openModel(day.tile)">
                                                <ng-container [ngSwitch]="day.tile">
                                                    <ng-template [ngSwitchCase]="'Monday'">
                                                        {{ isMonday.length > 0 ? 'Add more' : 'Add'}}
                                                    </ng-template>
                                                    <ng-template [ngSwitchCase]="'Tuesday'">
                                                        {{isTuesday.length > 0 ? 'Add more' : 'Add'}}
                                                    </ng-template>
                                                    <ng-template [ngSwitchCase]="'Wednesday'">
                                                        {{isWednesday.length > 0 ? 'Add more' : 'Add'}}
                                                    </ng-template>
                                                    <ng-template [ngSwitchCase]="'Thursday'">
                                                        {{isThursday.length > 0 ? 'Add more' : 'Add'}}
                                                    </ng-template>
                                                    <ng-template [ngSwitchCase]="'Friday'">
                                                        {{isFriday.length > 0? 'Add more' : 'Add'}}
                                                    </ng-template>
                                                </ng-container>
                                            </button>
                                        </label>
                                    </div>
                                </div>
                            </div> 
                            <table class="table table-sm table-nowrap card-table">
                                <thead class="list">
                                   <tr>
                                      <th>
                                         <a href="#" class="text-muted">
                                            SNo
                                         </a>
                                      </th>
                                      <th >
                                         <a href="#" class="text-muted">
                                            From
                                         </a>
                                      </th>
                                      <th>
                                         <a href="#" class="text-muted">
                                            To
                                         </a>
                                      </th>
                                   </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="day.tile == 'Monday'">
                                        <tr *ngFor="let obj of isMonday; let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{obj.formtime}}</td>
                                            <td>{{obj.totime}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="day.tile == 'Tuesday'">
                                        <tr *ngFor="let obj of isTuesday; let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{obj.formtime}}</td>
                                            <td>{{obj.totime}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="day.tile == 'Wednesday'">
                                        <tr *ngFor="let obj of isWednesday; let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{obj.formtime}}</td>
                                            <td>{{obj.totime}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="day.tile == 'Thursday'">
                                        <tr  *ngFor="let obj of isThursday; let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{obj.formtime}}</td>
                                            <td>{{obj.totime}}</td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="day.tile == 'Friday'" >
                                        <tr *ngFor="let obj of isFriday; let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{obj.formtime}}</td>
                                            <td>{{obj.totime}}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
</div>

<div class="row">
    <div class="col-6"></div>
    <div class="col-2">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
    </div>
    <div class="col-4"></div>
</div>


<ng-container *ngIf="isModelOpen">
    <app-time-model [resource]="isPickedDay" (closeModalEvent)="modelClose()"
    (sendBack)="success($event)">
    </app-time-model>
</ng-container>

